version: "3.9"

services:
  db:
    image: postgres:16
    container_name: blog_postgres
    restart: always
    environment:
      POSTGRES_USER: bloguser
      POSTGRES_PASSWORD: password
      POSTGRES_DB: blogdb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    container_name: blog_app
    restart: always
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql+psycopg2://bloguser:password@db:5432/blogdb
    ports:
      - "8000:8000"
    volumes:
      - .:/app

volumes:
  postgres_data:
